<!DOCTYPE html>
<html>
 <head>
   <meta charset = "utf-8">
   <title>マイプロ２</title>
   <link rel = "stylesheet" href = "mypro2.css">
 </head>
 <body>
   <div class ="taichi"> <div class="wasshoingo">
       <iframe width="1000" height="550" src="https://www.youtube.com/embed/siA3j40Hhw4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
     </div><div class="oppai">
     <h1>Night view at Minatomirai</h1>
     <h5>2 MIN. | TRAVEL INFO. | BY TAICHI KIKUYAMA </h5>

     <p>横浜みなとみらいの夜景を撮影したものです。大桟橋やランドマークタワーから見える横浜の景色を楽しめる場所です。特に夜空に輝くコスモクロックやライトアップされた赤レンガ倉庫は絶景!歩いているだけで興奮してしまうスポットの一つですね。</p>
     <p>夜景だけが取り上げられがちなみなとみらい。実は昼でも見所はたくさんあるのです。例えば、赤レンガ倉庫から歩いて約10分のところには山下公園があり、多くの花が咲いています。さらには横浜ベイスターズのスタジアムもあり野球好きにはたまらないですね。近くには中華街もあり、お腹が空いても大丈夫なロケーションになっています。</p>
     <h6></h6>
   </div>


 </div>
 </body>
</html>
