<!DOCTYPE html>
<html>
 <head>
   <meta charset = "utf-8">

   <link rel = "stylesheet" href = "mypro.css">
 </head>
 <body>
   <div class ="kento">
   <div class="wasshoi">
     <img src = "https://media.giphy.com/media/wW95fEq09hOI8/giphy.gif" width = "1000" height = "550">
   </div>
   <div class="opi">
     <h1>Travel in your house.</h1>
     <p>We are mictac - a full service creative agency offering new travel style to you.</p>
   </div>
 </div>
 </body>
</html>
